<launch>
  <arg name="start_x" default="14" />
  <arg name="start_y" default="7.5" />
  <include file="$(find tb_simulation)/launch/sim.launch">
    <arg name="start_x" value="$(arg start_x)" />
    <arg name="start_y" value="$(arg start_y)" />
  </include>
  <group>
    <remap from="/adstarPlanner/pose" to="/indoor/pose" />
    <remap from="/adstarPlanner/path" to="/path" />
    <node pkg="tb_interfaces" type="tb_adstar_interface" name="adstarPlanner">
      <param name="resolution" type="double" value="0.4" />
      <param name="tf_frame" type="string" value="/map" />
      <param name="robot_frame" type="string" value="base_link" />
      <param name="bbx_width" type="double" value="0.7" />
      <param name="bbx_length" type="double" value="0.7" />
    </node>
  </group>
</launch>
