<launch>
  <include file="$(find tb_simulation)/launch/sim.launch" />
  <group>
    <remap from="/map" to="/projected_map" />
    <node pkg="hector_exploration_node" type="exploration_planner_node" name="hector_exploration_node">
      <rosparam command="load" file="$(find tb_simulation)/data/hector_params.yaml" />
    </node>
    <node pkg="dynamic_reconfigure" type="dynparam" name="startup_reconfigure_hector"
          args="set_from_parameters hector_exploration_node/hector_exploration_planner">
      <param name="plan_in_unknown" type="bool" value="false" />
      <param name="min_obstacle_dist" type="int" value="0" />
    </node>
  </group>
  <group>
    <remap from="/fbePlanner/pose" to="/indoor/pose" />
    <remap from="/fbePlanner/path" to="/path" />
    <remap from="/fbePlanner/target_reached" to="/target_reached" />
    <node pkg="tb_interfaces" type="tb_fbe_interface" name="fbePlanner" />
  </group>
</launch>
