<launch>
  <include file="$(find tb_simulation)/launch/sim.launch" />
  <group>
    <remap from="input_octomap" to="/octomap_full" />
    <remap from="/pose" to="/indoor/pose" />
    <node pkg="nbvplanner" type="nbvPlanner" name="nbvplanner"
          launch-prefix="$(find tb_simulation)/util/tmuxgdb">
      <param name="resolution" type="double" value="0.4" />
      <param name="tf_frame" type="string" value="/map" />
      <param name="robot_frame" type="string" value="base_link" />
      <param name="bbx/minX" type="double" value="-14" />
      <param name="bbx/minY" type="double" value="-4" />
      <param name="bbx/minZ" type="double" value="0" />
      <param name="bbx/maxX" type="double" value="14" />
      <param name="bbx/maxY" type="double" value="18" />
      <param name="bbx/maxZ" type="double" value="2" />
      <rosparam command="load" file="$(find tb_simulation)/data/nbvp_params.yaml" />
    </node>
  </group>
</launch>
