<launch>
  <arg name="pf_orig_epsilon" default="0.1" />
  <arg name="pf_yaw_epsilon" default="0.01" />
  <group>
    <remap from="/pose" to="/indoor/pose" />
    <node pkg="tb_simulation" type="map_link_broadcaster" name="map_link_broadcaster" />
  </group>
  <group>
    <node pkg="tb_simulation" type="start_morse" name="morse"
          args="run $(find tb_simulation)/src/default.py" />
  </group>
  <group>
    <remap from="/waypoint" to="/indoor/waypoint_controller" />
    <remap from="/path_follower/pose" to="/indoor/pose" />
    <remap from="/path_follower/path" to="/path" />
    <node pkg="tb_simulation" type="path_follower" name="path_follower" output="screen">
      <param name="path_orig_epsilon" type="double" value="$(arg pf_orig_epsilon)" />
      <param name="path_yaw_epsilon" type="double" value="$(arg pf_yaw_epsilon)" />
    </node>
  </group>
  <group>
    <remap from="/cloud_in" to="/indoor/depth_cloud" />
    <remap from="/cloud_out" to="/depth_cloud_tf" />
    <node pkg="tb_simulation" type="pcl_transformer" name="pcl_transformer" output="screen" />
  </group>
  <group>
    <remap from="/cloud_in" to="/depth_cloud_tf" />
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
      <!-- Make sure the projected map is actually at the height we want it to be at -->
      <param name="occupancy_min_z" type="double" value="0.81" />
      <param name="occupancy_max_z" type="double" value="1.59" />
      <param name="resolution" type="double" value="0.4" />
      <param name="sensor_model/max_range" type="double" value="10.0" />
    </node>
  </group>
</launch>
